/* Переменные */

:root {
  --shadow: #17182098;
  --hovered: #00a2ff;
  --dark: #17181f;
  --white: #fff;
  --gray: #acacac;
  /* --success: #28a745; */
  /* --info: #17a2b8; */
  /* --warning: #ffc107; */
  /* --danger: #dc3545; */
}

/* Общие изменения */

h1 {
  font-size: 3rem;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }
}

a {
  color: var(--dark);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--hovered);
  transition: color 0.3s;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0 60px;
}

header {
  z-index: 999;
  padding: 12px;
  position: sticky;
  top: 0;
  background-color: var(--dark);
}

header a {
  color: var(--white);
}

/* header .active {
  border-bottom: 2px solid var(--hovered);
} */

nav > span + span {
  margin-left: 2em;
}

#logo {
  flex-grow: 1;
}

/* #search, #allgames > div {
  width: 40px;
  height: 40px;
} */

.icons {
  max-width: 30px;
  max-height: 30px;
  fill: var(--white);
  transition: fill 0.3s;
}

.icons:hover {
  fill: var(--hovered);
  transition: fill 0.3s;
}

footer {
  position: relative;
  display: flex;
  justify-content: space-around;
  color: var(--white);
  background-color: var(--dark);
  padding: 20px;
}

footer section {
  text-align: left;
  display: flex;
  flex-direction: column;
}

footer section + section {
  margin-left: 60px;
}

footer a {
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s;
  margin-bottom: 10px;
  white-space: nowrap;
}

/* footer .active::after {
  font-size: 0.8em;
  padding-left: 5px;
  content: "ты тут";
  color: var(hovered);
} */

/* Ползунок справа */

::-webkit-scrollbar-thumb {
  background-color: var(--dark);
}

::-webkit-scrollbar {
  width: 5px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 56px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 10px 60px 50px 60px;
  margin-bottom: 40px;
  border-radius: 6px;
  box-shadow: 0px 10px 10px -5px var(--shadow), 0px 5px 5px -5px var(--shadow);
}
@media (max-width: 1150px) {
  .box {
    padding: 10px 60px 50px 60px;
  }
}
@media (max-width: 470px) {
  .box {
    padding: 10px 0px;
  }
}
.box h2 {
  color: var(--hovered);
}
.header2 {
  margin: 10px 0 20px 0;
  align-self: flex-start;
} @media (max-width: 470px) {
  .header2 {
    align-self: center;
  }
}

.blur {
  display: flex;
  flex-direction: row;
  background: #17181fb9;
  backdrop-filter: blur(8px);
  transition: 0.3s;
}

.game {
  margin-bottom: 40px;
  text-align: left;
  max-width: 800px;

  background: center no-repeat;
  background-size: cover;
  background-color: var(--dark);

  border-radius: 6px;
}

.game .blur:hover {
  background: #363846b9;
  box-shadow: 0px 10px 10px -5px var(--shadow), 0px 5px 5px -5px var(--shadow);
  transition: 0.3s;
}
.game div {
  border-radius: 6px;
}
.game span + span {
  margin: 0 0 0 20px;
}

@media (max-width: 470px) {
  .small .game {
    border-radius: 0px;
  }
  .small div {
    border-radius: 0px;
  }
}

/* -------------------------- GAME SMALL */
.small img {
  max-height: 60px;
  border-radius: 6px;
}
.small h4 {
  font-size: 0.9rem;
  color: var(--white);
  margin: 6px 0 6px 0;
}
.small h5 {
  font-size: 0.8rem;
  color: var(--gray);
  margin: 6px 0 6px 0;
}
.small .blur {
  padding: 8px 12px 8px 12px;
}

/* -------------------------- GAME BiG */
.big img {
  max-height: 100px;
  border-radius: 6px;
}
.big .image {
  display: flex;
  align-items: flex-start;
}
.big h4 {
  font-size: 0.9rem;
  color: var(--white);
  margin: 2px 0 2px 0;
}
.big h5 {
  font-size: 0.8rem;
  color: var(--gray);
  margin: 2px 0 2px 0;
}
.big h6 {
  font-size: 0.68rem;
  color: var(--gray);
  text-transform: uppercase;
  margin: 8px 0 2px 0;
}
.big .blur {
  padding: 20px;
}@media (max-width: 500px) {
  .big .blur {
    display: flex;
    flex-direction: column;
  }
  .big .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .big span + span{
    margin: 20px 0 0 0;
  }
}

.games {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 880px) {
  .games {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.games-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.games-column + .games-column {
  margin: 0 0 0 40px;
} @media (max-width: 880px) {
  .games-column + .games-column {
    margin: 0;
  }
}

.p404 {
  height: 100vh;
  width: 100vw;
}