/* Переменные */

:root {
  --bg: #ffffff;
  --text: #17181f;
  --shadow: #17182098; /* более прозрачная копия текста */
  --text-hovered: #007bff;
  --footer: #17181f;
  --footer-text: #ffffff;

  --white: #fff;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
}

/* Общие изменения */

header {
  z-index: 999;
  padding: 12px;
  position: sticky;
  top: 0;
  background-color: var(--footer);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0 60px;
}

header .active {
  border-bottom: 2px solid var(--text-hovered);
}

nav > span + span {
  margin-left: 2em;
}

#logo {
  flex-grow: 1;
}

/* #search, #allgames > div {
    width: 40px;
    height: 40px;
  } */

.icons {
  max-width: 30px;
  max-height: 30px;
  fill: var(--bg);
  transition: fill 0.3s;
}

.icons:hover {
  fill: var(--text-hovered);
  transition: fill 0.3s;
}

a {
  color: var(--bg);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--text-hovered);
  transition: color 0.3s;
}

footer {
  position: relative;
  display: flex;
  justify-content: space-around;
  color: var(--footer-text);
  background-color: var(--footer);
  padding: 20px;
}

footer section {
  text-align: left;
  display: flex;
  flex-direction: column;
}

footer section + section {
  margin-left: 60px;
}

footer a {
  color: var(--footer-text);
  text-decoration: none;
  transition: color 0.3s;
  margin-bottom: 10px;
  white-space: nowrap;
}

/* footer .active::after {
    font-size: 0.8em;
    padding-left: 5px;
    content: "ты тут";
    color: var(--text-hovered);
  } */

/* Ползунок справа */

::-webkit-scrollbar-thumb {
  background-color: var(--text);
}

::-webkit-scrollbar {
  width: 5px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding-top: 56px;
}

.box {
  padding: 10px 60px 50px 60px;
  margin-bottom: 40px;
  /* border: 1px solid var(--text); */
  border-radius: 6px;
  box-shadow: 0px 10px 10px -5px var(--shadow), 0px 5px 5px -5px var(--shadow);
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

h2 {
  position: absolute;
  color: var(--text-hovered);
  text-transform: uppercase;
}

.games {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 600px) {
  .games {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.games-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game {
  margin-bottom: 40px;
  text-align: left;
  max-width: 800px;

  background: center no-repeat;
  background-size: cover;
  background-color: var(--shadow);

  border-radius: 6px;
}

.game span + span {
  margin-left: 20px;
}

.game img {
  max-height: 100px;
  border-radius: 6px;
}

.game h4 {
  color: var(--white);
  margin: 6px 0 10px 0;
}

.game h5 {
  color: #acacac;
  margin: 0;
}

.blur {
  display: flex;
  flex-direction: row;

  padding: 20px;
  border-radius: 6px;

  background: #17181fb9;
  backdrop-filter: blur(8px);
  transition: 0.4s;
}

.blur:hover {
  background: #363846b9;
  box-shadow: 0px 10px 10px -5px var(--shadow), 0px 5px 5px -5px var(--shadow);
  transition: 0.4s;
}

