@import "fonts/fonts.css";
// GitHub осуждаю
// Цвета
$blue: #00a2ff;
$blue-hover: #43baff;
$blue02: #00a2ff1a;
$blue01: #00a2ff41;

$dark: #17181f;
$dark02: #17181f1a;
$dark01: #17181f15;

$white: #fff;
$gray: #acacac;
$shadow: #17182098;

// Значения
$animation: 0.3s;
$border-radius: 10px;
$border-radius-img: 8px;
$margin-down: 0 0 24px 0;

/* Ползунок справа */
::-webkit-scrollbar-thumb {
  background-color: $dark;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Основные предустановки */
html {
  font-family: "Arial Nova", "Arial", arial;
  background-color: $white;
  color: $dark;
  font-size: 1.04rem;

  h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 36px;
    color: $dark;
  }

  h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: $blue;
    margin: 0;
  }

  a {
    color: $white;
    text-decoration: none;
    transition: color $animation;

    &:hover {
      color: $blue;
      transition: color $animation;
    }
  }
}

/* Заполнение минимум всего экрана */
#root {
  min-height: 100vh;
}

header {
  padding: 0 16px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;
  position: sticky;
  top: 0;

  background-color: $dark;

  a {
    color: $white;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 800px;
    width: 100%;
  }
}

#logo {
  flex-grow: 1;
}
#links {
  a + a {
    margin: 0 0 0 20px;
  }
}

.icons {
  max-width: 30px;
  max-height: 30px;
  fill: $white;
  transition: fill $animation;
  &:hover {
    fill: $blue;
    transition: fill $animation;
  }
}

.PageNotFound ~ footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer {
  height: 80px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  color: $white;
  background-color: $dark;

  .colum {
    text-align: left;
    display: flex;
    flex-direction: column;
    & + .colum {
      margin: 0 0 0 20px;
    }
  }
  section {
    display: flex;
    flex-direction: row;
  }
  a {
    color: $white;
    text-decoration: none;
    transition: color $animation;
    margin-bottom: 10px;
    white-space: nowrap;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 56px;
}

.allgames {
    margin: 0 16px;
    max-width: 330px;
    min-height: 100vh;
}

.homepage {
  min-height: 100vh;
  margin: 0 16px;

  .boxes {
    display: flex;
    flex-direction: column;
  }
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sticky {
    position: sticky;
    top: 60px;
  }
  .games-coming-soon {
    .game {
      width: 312px;
      display: flex;
      flex-direction: column;
      .ohter {
        display: flex;
        flex-direction: row;
      }
    }
    .reales-date {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 0 8px 0;

      text-transform: uppercase;
      font-weight: bold;
      color: $dark;
    }
    hr {
      border: 0;
      height: 1px;
      background-color: #bee7ff;
      margin: 0 0 8px 0;
      position: relative;
      left: -11px;
      width: 333px;
    }
  }
}

.header-games,
.footer-games {
  width: 100%;
  background-color: $white;
  border: 1px solid $white;
  z-index: 990;
}
.header-games {
  padding: 10px;
}
.footer-games {
  height: 51px;
}

.game {
  display: flex;
  flex-direction: row;

  padding: 10px;

  text-align: left;

  background: center no-repeat;
  background-size: cover;
  background-color: $white;

  border: 1px solid $blue01;
  border-radius: $border-radius;

  transition: background-color $animation;
  &:hover {
    background-color: $blue02;
    transition: background-color $animation;
  }
  & + .game {
    margin: 24px 0 0 0;
  }
  img {
    border-radius: $border-radius-img;
    max-width: 126px;
    max-height: 60px;
  }
  span {
    max-height: 60px;
  }
  span + span {
    margin: 0 0 0 10px;
  }

  h4 {
    color: $dark;
    font-size: 14px;
    margin: 0;
  }
  h5 {
    color: $gray;
    font-size: 12px;
    margin: 0;
  }
}

.games {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 328px;
}

.games-column {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & + .games-column {
    margin: 0 0 0 40px;
  }
}

.gamepage {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  margin: 0 16px;

  .highlights {
    display: flex;
    flex-direction: column;
    align-items: center;

    .gameName {
      max-width: 320px;
      margin: $margin-down;

      color: $dark;
      font-size: 24px;
      font-weight: 600;
    }
    .imagelogo {
      margin: $margin-down;
      img {
        border-radius: $border-radius;
        max-width: 328px;
      }
    }

    .metacritic {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      align-items: center;

      width: 312px;
      padding: 8px;
      margin: $margin-down;

      background-color: $dark;
      border-radius: $border-radius;

      transition: $animation;
      &:hover {
        box-shadow: 0px 7px 15px 0px rgba(34, 60, 80, 0.2);
        background-color: #3f404d;
        transition: $animation;
      }
      .metascore {
        display: flex;
        justify-content: center;
        align-items: center;

        color: $white;
        font-size: 24px;
        font-weight: 600;

        border-radius: $border-radius;
        height: 52px;
        width: 52px;
      }
      .green {
        background-color: #6c3;
      }
      .yellow {
        background-color: #fc3;
      }
      .red {
        background-color: #f00;
      }
      #Metaicon {
        height: 52px;
        width: 52px;
      }
      #Metatext {
        height: 52px;
      }
      .metalogo {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .steam-score {
      width: 312px;
      padding: 8px;
      margin: $margin-down;

      color: $white;
      background-color: $dark;
      background: linear-gradient(
        35deg,
        rgba(23, 26, 33, 1) 0%,
        rgba(39, 66, 86, 1) 100%
      );

      border: 1px solid $dark01;
      border-radius: $border-radius;

      .score {
        color: rgb(103, 193, 245);
        margin: 0 0 8px 0;
        font-size: 24px;
        font-weight: bold;
      }
      .row {
        display: flex;
        flex-direction: row;

        width: 312px;
        margin: 5px 0;
        font-size: 14px;

        & + .row {
          margin: 0px 0 5px 0;
        }
      }
      .subtitle {
        text-align: left;
        min-width: 110px;
        margin: 0 10px 0 0;
      }
    }

    .details {
      display: flex;
      flex-direction: column;

      width: 312px;
      padding: 8px;
      margin: $margin-down;

      background-color: $white;

      border: 1px solid $dark01;
      border-radius: $border-radius;

      font-size: 14px;
      text-align: left;
      a {
        color: $blue;
        &:hover {
          color: $blue-hover;
        }
      }

      .row {
        margin: 5px 0 5px 0;
        display: flex;
        flex-direction: row;
        & + .row {
          margin: 0px 0 5px 0;
        }
      }

      .subtitle {
        min-width: 110px;
        margin: 0 10px 0 0;
      }
    }
  }

  .description {
    max-width: 600px;
    padding: 8px;
    margin: $margin-down;

    background-color: $white;
    border: 1px solid $dark01;
    border-radius: $border-radius;

    text-align: left;
    img {
      width: 100%;
      border-radius: $border-radius;
    }
    h2:first-child {
      font-size: 24px;
      color: $blue;
      text-align: center;
      margin: 0 0 8px 0;
    }
    h2 {
      font-size: 20px;
      margin: 10px 0;
      color: $dark;
    }
    a {
      color: $blue;
    }
  }
}

.PageAbout {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 16px;

  p {
    text-align: left;
    max-width: 600px;
    margin: $margin-down;
  }
  h2 {
    margin: 24px 0;
  }
  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
  }
}

@media (min-width: 720px) {
  .homepage {
    padding: 0 16px;

    .box + .box {
      margin: 0 0 0 40px;
    }
    .boxes {
      display: flex;
      flex-direction: row;
    }
  }
}

@media (min-width: 1024px) {
  .PageAbout {
    display: flex;
    flex-direction: column;
    align-items: center;

    .vova,
    .nadya {
      height: 360px;
      width: 480px;
      div {
        height: 360px !important;
        width: 480px !important;
      }
    }
    p {
      max-width: 600px;
      margin: $margin-down;
    }
    h2 {
      margin: 24px 0;
    }

    .left {
      display: flex;
      flex-direction: row;
      justify-content: center;

      text-align: right;
    }
    .right {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;

      text-align: left;
    }

    .left,
    .right {
      margin: $margin-down;
      align-items: center;
    }
    .vova + h2 {
      margin: 0 0 0 24px;
    }
    .nadya + h2 {
      margin: 0 24px 0 0;
    }
  }
  .PageNotFound {
    .ManNotFound {
      height: 360px;
      width: 480px;
      div {
        height: 360px !important;
        width: 480px !important;
      }
    }
  }
  .gamepage {
    display: flex;
    flex-direction: row;

    .highlights {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-right: 24px;
    }
    .description {
      width: 600px;
    }
    .sticky {
      position: sticky;
      top: 116px;
    }
  }
}
